<h2>CUMobility</h2>
<input type="button" value="Report a problem" onclick="location.href='@Url.Action("ProblemReporting", "")'" />
<br />
<br />
<input type="button" value="View potential problems" onclick="location.href='@Url.Action("ProblemsViewing", "")'" />
<br />
<br />
<input type="button" value="Check problems" onclick="location.href='@Url.Action("ProblemsChecking", "")'" />
<br />
<br />
<input type="button" value="View real problems" onclick="location.href='@Url.Action("RealProblemsViewing", "")'" />
<br />
<br />
<input type="button" value="Fix problems" onclick="location.href='@Url.Action("ProblemsFixing", "")'" />